/* FONTS */
@font-face {
  font-family: "splash";
  src: url("./fonts/Splash/Splash-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "kurale";
  src: url("./fonts/Kurale/Kurale-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WebSymbolsRegular";
  src: url("./fonts/websymbols-regular-webfont.ttf") format("truetype"),
    url("./fonts/websymbols-regular-webfont.eot") format("embedded-opentype"),
    url("./fonts/websymbols-regular-webfont.woff") format("woff"),
    url("./fonts/websymbols-regular-webfont.svg#WebSymbolsRegular")
      format("svg");
}
/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  font-family: "kurale";
  letter-spacing: 2.5px;
}
body {
  width: 100%;
  background: url("./../img/ai_wallpaper.png") repeat-y top/90%;
}
.clearfix {
  float: none;
  clear: both;
}
.wrap {
  width: 100%;
}
.gear,
.icon {
  font-family: "WebSymbolsRegular";
}
/*
En Escritorio
 .wrap{
    width: 1200px;
    margin: 0 auto;
} */

/* HEADER */
#header {
  width: 100%;
  height: 80px;
  background-color: #0c1943;
  color: white;
}
.logo {
  width: 40%;
  margin: 15px 0 0 25px;
  float: left;
  background-color: #448aff;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms;
}
.logo:hover {
  border-radius: 2px;
  color: #000;
  background-color: #ccc;
}
.logo .gear {
  display: block;
  float: left;
  font-size: 19px;
  /* font-size: 30px; */
  margin: 10px 0 5px 24px;
  animation-name: rotation-gear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotation-gear {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo:hover .gear {
  animation: fromBelow 500ms linear;
}
@keyframes fromBelow {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.logo h3 {
  display: block;
  font-size: 23px;
  /* font-size: 29px; */
  float: right;
  margin: 3px 20px 0 0;
  /* margin: 3px 28px 0 0; */
  transition: all 500ms;
}
.logo:hover h3 {
  animation: fromRight 400ms linear;
}
@keyframes fromRight {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0%);
  }
}
#menu {
  float: right;
  margin: 30px 0px 0 0;
  width: 30%;
}
#menu ul li {
  display: block;
}

/* HEADER - HAMBURGER */
.menu-button-container {
  display: block;
  cursor: pointer;
}
.menu {
  display: none;
  /* position: absolute;
  top:0;
  margin-top: 50px;
  left: 0;
  width: 100%; */
}
#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu {
  display: block;
}
#menu-toggle:checked ~ .menu li {
  border: 1px solid #333;
  height: 2.5rem;
  padding: 0.5rem;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu > li {
  display: block;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  background-color: green;
}
.menu > li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: red;
  position: absolute;
  height: 30px;
}
.menu-button::before {
  content: "";
  margin: -8px 0 0;
}
.menu-button::after {
  content: "";
  margin: 8px 0 0;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/**
* TODO: BANNER
*/
#banner {
  width: 90%;
  margin: 9px auto;
  height: 80px;
  border: 9px solid white;
  box-shadow: 0 0 4px #2b3bea;
  background-image: radial-gradient(
    closest-corner at 86% 47%,
    #f83217 23%,
    #ffff27 90%,
    #3125d6 120%
  );
  background-repeat: no-repeat;
  transition: all 500ms;
  animation: backBanner 800ms linear;
  overflow: hidden;
}
@keyframes backBanner {
  0% {
    background-position: -200px 80px;
  }
  100% {
    background-position: 0 0;
  }
}
#banner h1 {
  display: block;
  margin: 21px auto;
  width: 75%;
  font-family: "splash";
  font-weight: 900;
  font-style: italic;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 2px #000000;
  letter-spacing: 6px;
  animation: showText 5s linear;
}
@keyframes showText {
  0% {
    transform: translateX(200%) scale(5, 5);
    opacity: 0.1;
  }
  50% {
    transform: translateX(-200%) scale(5, 5);
    opacity: 1;
  }
  75% {
    transform: translate(100%) scale(5, 5);
    text-shadow: none;
    color: transparent;
    opacity: 0;
  }
  100% {
    transform: translateX(0%) scale(1, 1);
    text-shadow: 2px 2px 2px #000000;
    color: #fff;
    opacity: 1;
  }
}

/* TODO: CARDS */
.card {
  width: 73%;
  height: 265px;
  float: left;
  margin: 20px;
  margin-top: 50px;
  margin-left: 40px;
  padding: 5%;
  border: 1px solid red;
  box-shadow: 2px 2px 4px black;
  border-radius: 5%;
  background-color: #fff;
  overflow: hidden;
  transition: all 300ms;
}

.card .icon {
  display: block;
  width: 100%;
  height: 130px;
  line-height: 150px;
  text-align: center;
  font-size: 300%;
  margin: 0 auto;
}

/* ASIDE Lateral */
#lateral {
  width: 80%;
  min-height: 350px;
  float: none;
  margin: 0 auto;
  padding: 2% 0;
}

aside h3 {
  width: auto;
  display: block;
  margin: 13px 0;
  height: 45px;
  background: url("../img/pxgray.png"), #fff;
  box-shadow: 0 1px 0 #393d3f, 1px 2px 0 #393d3f, 2px 3px 0 #393d3f;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 0 0 0 10px;
}

#search {
  width: 89%;
  height: 30px;
  margin: 10px auto;
  /* padding: 8px; */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #000;
}

#lateral input[type="text"] {
  width: 80%;
  height: 27px;
  padding: 0 0 0 5px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #ccc;
  transition: all 600ms;
}
#lateral input[type="text"]:focus {
  color: #555;
}

#lateral input[type="button"],
#lateral input[type="submit"] {
  padding: 0 0 0 8px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  border-left: 1px solid #ccc;
  color: #555;
}

.aside-box {
  width: 89%;
  height: 100%;
  margin: 20px auto 0;
  padding: 2px 0 0;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 0 0 1px #000, 0 3px 7px #000, 0 0 7px #76ba99 inset;
}

#login input[type="email"],
#login input[type="password"] {
  display: block;
  width: 70%;
  margin: 2px auto 0;
  height: 30px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #000;
  border-radius: 5px;
  padding: 0 0 0 15px;
  color: gray;
}
#login input[type="email"]:focus,
#login input[type="password"]:focus {
  color: #555;
  box-shadow: 1px 1px 1px gray inset;
}
#login #user,
#login #padlock {
  display: block;
  margin: 10px 0;
  text-align: center;
}

#login input[type="submit"],
#login input[type="button"],
#login input[type="reset"],
#login button {
  display: block;
  text-align: center;
  width: 100%;
  height: 35px;
  margin: 20px 0 0;
  color: #fff;
  background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
  border: 1px solid #156785;
  border-radius: 0;
  cursor: pointer;
  font-weight: bold;
}

#login a {
  display: block;
  text-decoration: none;
  margin: 2% 0 2% 10%;
  font-size: 90%;
  color: #666;
}
#social_network {
  width: 100%;
  height: 100%;
}

#social_network .twitter,
#social_network .facebook,
#social_network .youtube {
  display: block;
  width: 33%;
  float: left;
}

#social_network a {
  display: block;
  color: #000;
  margin: 9% 0;
  text-decoration: none;
  font-size: 220%;
  text-align: center;
}

/* ARTÃCULOS */
#articles {
  width: 80%;
  margin: 0 auto;
}

#articles h2 {
  display: block;
  width: 100%;
  margin: 4% 0;
  height: 70px;
  line-height: 204%;
  text-align: center;
  text-transform: uppercase;
  font-size: 184%;
  font-weight: bold;
  letter-spacing: 2px;
  background: url("../img/pxgray.png"), #fff;
  text-shadow: 2px 3px 6px;
  box-shadow: 0 0 1px #000, 0 3px 7px #000, 0 0 7px #76ba99 inset;
}

#articles article {
  width: 100%;
  height: 100%;
  margin: 9% auto;
  /* padding: 3%; */
  color: #000;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 4px #000;
}

#articles article h4 {
  display: block;
  font-size: 120%;
  margin: 5% 0;
  text-align: center;
}

#articles article h4 a {
  text-decoration: none;
  color: #00538c;
}

#articles .data {
  /* height: 60px; */
  background-color: #000;
  color: #fff;
  font-size: 73%;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
#articles .data span {
  display: block;
}
#articles .data span:first-child {
  margin: 0 0 2%;
}

#articles p {
  margin: 5% 0;
}

#blog {
  height: 100%;
  text-align: center;
}

#blog a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 300%;
  color: #00538c;
}

/* FOOTER */
#footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

/* #footer > div{
  width: 33%;
  float:left;
} */

#footer a {
  text-transform: uppercase;
  text-decoration: none;
  color: #37bcf9;
  transition: all 500ms;
}

#footer h5 {
  display: block;
  width: 80%;
  margin: 2% auto 0;
  background: url("../img/pxgray.png"), #fff;
  height: 50px;
  letter-spacing: 2px;
  text-align: center;
  color: #000;
  font-size: 200%;
  /* line-height: 270%; */
  border-radius: 5px;
}

#footer ul {
  text-align: center;
  margin: 3%;
  font-size: 120%;
  list-style-type: none;
}

#footer ul li {
  width: 50%;
  margin: 20px auto;
  border-color: #fff;
  border-style: none none solid none;
}
#footer ul li a {
  display: block;
  height: 50px;
}
#footer iframe {
  width: 100%;
  margin: 12% auto;
  height: 300px;
  border-radius: 5px;
  border: 5px solid #fff;
  box-shadow: 0 0 5px #ccc;
}

#footer .html_image,
#footer #browsers {
  text-align: center;
}

#footer img {
  margin: 4% 0;
}

#footer #browsers img {
  width: 10%;
}
/* #footer img{
  display: block;
  margin: 4% auto;
} */
/* #footer #info p{
  margin: 4% 0;
  text-align: center;
} */

/* ****************************************   */
/* ****************************************   */
/* **************** RESPONSIVE DESIGN *****   */
/* ****************************************   */
/* ****************************************   */
/* TODO: CELULAR 345px */
@media screen and (min-width: 345px) {
  .logo h3 {
    margin-right: 25px;
  }
}

/* TABLET */
/* TODO: TABLET 430px */
@media screen and (min-width: 430px) {
  #header {
    height: 120px;
  }
  .wrap {
    width: 85%;
    margin: 0 auto;
  }
  .logo {
    width: 50%;
    margin: 40px 0;
  }
  .logo h3 {
    font-size: 30px;
    margin-right: 25px;
  }

  #menu {
    margin: 38px 0 0;
  }
}

/* TODO: TABLETA */
@media screen and (min-width: 500px) {
  .logo {
    width: 35%;
  }
}
@media screen and (min-width: 650px) {
  .logo {
    width: 28%;
  }
  #banner {
    background-image: radial-gradient(
      closest-corner at 91% 52%,
      #f83217 23%,
      #ffff27 90%,
      #3125d6 120%
    );
  }
  #login input[type="submit"],
  #login input[type="button"],
  #login input[type="reset"],
  #login button {
    float: left;
    width: 40%;
  }
  #login input[type="submit"],
  #login input[type="button"],
  #login input[type="reset"],
  #login button {
    float: left;
    width: 40%;
    margin-left: 6%;
    margin-bottom: 20px;
  }
}

/* ************************************************ */
/* ************************************************ */
/* ************************************************ */
/* **************** DESKTOP *********************** */
/* ************************************************ */
/* ************************************************ */
/* ************************************************ */
@media screen and (min-width: 810px) {
  .wrap {
    width: 75%;
    margin: 0 auto;
  }
  .logo {
    width: 16%;
    margin: 30px 0;
  }
  .logo h3 {
    font-size: 35px;
  }
  .logo .gear {
    font-size: 30px;
    /* margin: 10px 0 5px 24px; */
  }

  /* NAVBAR  */
  .menu {
    /* SHOW ON DESKTOP */
    display: block;
  }
  #menu {
    margin: 30px 0 0;
    width: 50%;
    text-align: center;
  }
  #menu-toggle,
  .menu-button-container {
    display: none;
  }
  #menu ul li {
    display: inline;
    font-size: 35px;
    margin: 0 20px !important;
  }
  #menu-toggle ~ .menu li {
    height: auto;
    padding: 1px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li {
    /* margin: 0;
    padding: 0.5em 0; */
    display: inline;
    width: 100%;
    background-color: transparent;
  }
  #menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: all 300ms;
  }
  #menu li a:hover {
    color: lightseagreen;
    transform: scale(1.2, 1.2);
  }
  #banner {
    margin: 23px auto;
    height: 115px;
    background-image: radial-gradient(
      closest-corner at 95% 52%,
      #f83217 23%,
      #ffff27 90%,
      #3125d6 120%
    );
  }
  #banner h1 {
    width: 50%;
    margin: 34px auto;
    font-size: 32px;
    text-align: center;
  }
  .card {
    width: 17%;
    height: 279px;
    float: left;
    margin: none;
    margin-top: 24px;
    margin-left: 0;
    padding: 0;
    cursor: pointer;
    transition: all 800ms;
  }
  .card:first-child {
    margin-left: 38px;
  }

  /* .card .icon {
    display: block;
    width: 100%;
    height: 130px;
    line-height: 150px;
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
  } */
  .card:hover .icon {
    font-size: 80px;
    color: #37bcf9;
    animation: showIcon 400ms linear;
  }
  @keyframes showIcon {
    from {
      transform: translateY(-200%);
    }
    to {
      transform: translateY(0);
    }
  }

  .card .category,
  .card .description {
    width: 100%;
    text-align: center;
  }
  .card .category {
    /* display: block; */
    height: 50px;
    font-size: 21px;
    font-weight: bold;
    color: #23ec1c;
    transition: all 1s;
  }
  .card:hover .category {
    color: #fff;
    animation: showTextIcon 600ms linear;
  }
  @keyframes showTextIcon {
    0% {
      transform: scale(5, 5);
      color: #fff;
    }
    50% {
      transform: scale(8, 8);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  .card .description {
    font-size: 14px;
    transition: all 400ms;
  }

  .card:hover .description {
    color: #fff;
    animation: showDescription 800ms linear;
  }

  @keyframes showDescription {
    0% {
      transform: translateY(200%);
    }
    50% {
      transform: scale(0.5, 0.5);
    }

    99% {
      transform: translateY(0);
    }
  }

  .card:hover {
    background-color: #000;
  }

  /* LATERAL */
  #lateral {
    float: right;
    width: 25%;
    min-height: 450px;
  }
  .aside-box {
    height: 308px;
  }
  #login form {
    margin: 19px 0 0;
  }
  #login input[type="email"],
  #login input[type="password"] {
    width: 70%;
    padding: 0 0 7px 38px;
    margin-top: 20px;
  }
  #login #user,
  #login #padlock {
    position: absolute;
    margin: 12px 0 0 31px;
  }
  #login #padlock {
    margin-top: 32px;
  }
  #login input[type="submit"]:hover,
  #login input[type="button"]:hover,
  #login input[type="reset"]:hover,
  #login button {
    box-shadow: 0 0 3px gray;
    transition: all 400ms;
  }
  #login a {
    font-size: 100%;
  }
  #login a:hover {
    text-decoration: underline;
    color: #2b3bea;
    font-weight: bold;
    transition: all 480ms;
    text-shadow: 0 0 1px #333;
  }

  #social_network {
    width: 89%;
    height: 100%;
  }

  #social_network .overlay {
    /* display: none; */
    position: absolute;
    margin: -5% 0% 0% 6%;
    padding: 0.5%;
    height: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #2b3bea;
    text-shadow: 1px 1px 1px #23ec1c;
    border: 4px solid #23ec1c;
    box-shadow: 1px 0 2px #0c1943;
    background-color: #000;
    transform: translateX(-80%);
    opacity: 0;
    transition: all 400ms;
  }
  #social_network div:hover .overlay {
    /* display: block; */
    opacity: 1;
    transform: translateX(0%);
    /* animation: networkAnimation 500ms linear; */
  }
  /* @keyframes networkAnimation {
    0% {
      transform: translateX(0%);
    }
  } */

  #social_network .twitter,
  #social_network .facebook,
  #social_network .youtube {
    width: 100%;
    float: none;
  }

  #social_network a {
    font-size: 320%;
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 180%;
  }

  /* ARTICLES */
  #articles {
    width: 70%;
    float: left;
    padding: 0;
  }

  #articles article {
    margin: 5% auto;
  }
  #articles article:first-child {
    background-color: green;
  }

  #articles article .data {
    float: right;
    width: 30%;
    height: 100%;
    font-size: 69%;
    padding: 1%;
  }
  #articles article h4 {
    text-align: left;
  }
  #articles article h4,
  #articles article p {
    margin: 1% 0 0 2%;
  }
  #articles article h4 a:hover {
    text-decoration: underline;
    color: #0c1943;
  }
  #articles .data span:first-child {
    margin: 0;
  }

  #articles article p {
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 86%;
  }

  #blog {
    line-height: 100px;
  }
  #blog a:hover {
    text-decoration: underline;
    color: #0c1943;
    text-shadow: 4px 3px 2px #393d3f;
    transition: all 600ms;
  }

  #footer {
    height: 470px;
  }
  #footer .wrap > div {
    width: 30.5%;
    float: left;
    height: 370px;
    margin: 10px;
    text-align: center;
    color: #fff;
  }

  #footer h5 {
    width: 100%;
  }

  #footer ul {
    text-align: left;
  }

  #footer ul li {
    width: 100%;
    margin: 20px 0;
  }

  #footer ul li:first-child {
    border-bottom: none;
  }

  #footer #browsers img {
    width: 14%;
  }
}
/* END DESKTOP */
